imports:
    - { resource: dev/models/*.yaml }
    - { resource: dev/predefined-cases/*.yaml }

tienvx_mbt:
#    max_steps: 300
#    transition_coverage: 100
#    place_coverage: 100
#    default_bug_title: 'New bug'
    email_from: '%env(EMAIL_FROM)%'
    admin_url: '%env(ADMIN_URL)%'

flysystem:
    storages:
        mbt.storage:
            adapter: 'local'
            options:
                directory: "%kernel.project_dir%/var/storage/screenshots"
