version: '2'
services:
    db:
        image: mariadb:10
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: db
    app:
        build: build/app
        ports:
            - 81:80
        links:
            - db
        depends_on:
            - db
    api:
        build: build/api
        ports:
            - 80:80
        volumes:
            - '.:/api'
    worker:
        build: build/worker
        volumes:
            - '.:/worker'
        links:
            - queue
        depends_on:
            - queue
    selenium:
        image: selenium/standalone-chrome:3.12
        volumes:
          - /dev/shm:/dev/shm
        ports:
            - 4444:4444
        links:
            - app:example.com
    queue:
        image: rabbitmq:3.7-management
        ports:
            - 15672:15672
