version: '3'
services:
    db:
        image: mariadb:10
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: db
    adminer:
        image: adminer
        ports:
            - 8080:8080
    app:
        build:
            context: ./build
            dockerfile: docker/app/Dockerfile
        ports:
            - 81:80
        links:
            - db
        depends_on:
            - db
    api:
        build:
            context: ./build
            dockerfile: docker/api/Dockerfile
        ports:
            - 80:80
        volumes:
            - './bin:/api/bin'
            - './config:/api/config'
            - './public:/api/public'
            - './src:/api/src'
            - './templates:/api/templates'
            - './translations:/api/translations'
            - './vendor:/api/vendor'
            - './.env:/api/.env'
            - './composer.json:/api/composer.json'
        links:
            - db
        depends_on:
            - db
        environment:
            PHP_IDE_CONFIG: "serverName=mbt-api"
    worker:
        build:
            context: ./build
            dockerfile: docker/worker/Dockerfile
        volumes:
            - './bin:/worker/bin'
            - './config:/worker/config'
            - './public:/worker/public'
            - './src:/worker/src'
            - './templates:/worker/templates'
            - './translations:/worker/translations'
            - './vendor:/worker/vendor'
            - './.env:/worker/.env'
            - './composer.json:/worker/composer.json'
        links:
            - queue
            - db
        depends_on:
            - queue
            - db
        environment:
            PHP_IDE_CONFIG: "serverName=mbt-worker"
    selenium-hub:
        image: selenium/hub
        ports:
            - 4444:4444
    selenium-node:
        image: selenium/node-chrome
        links:
            - app:example.com
        environment:
            HUB_HOST: selenium-hub
            HUB_PORT: 4444
        depends_on:
            - selenium-hub
    queue:
        image: rabbitmq:3.7-management
        ports:
            - 15672:15672
