version: '3'
services:
    db:
        image: mariadb:10
        environment:
            MYSQL_DATABASE: db
            MYSQL_USER: user
            MYSQL_PASSWORD: pass
            MYSQL_ROOT_PASSWORD: root
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "--user=user", "--password=pass", "--silent"]
            interval: 30s
            timeout: 10s
            retries: 5
    queue:
        image: rabbitmq:3.7-management
        ports:
            - 84:15672
        healthcheck:
            test: ["CMD", "rabbitmqctl", "status"]
            interval: 30s
            timeout: 10s
            retries: 5
    hub:
        image: selenium/hub:3.141.59-radium
        ports:
            - 4444:4444
    chrome:
        image: selenium/node-chrome:3.141.59-radium
        links:
            - app:example.com
        volumes:
            - /dev/shm:/dev/shm
        environment:
            HUB_HOST: hub
            HUB_PORT: 4444
        deploy:
            replicas: 1
        entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME" /opt/bin/entry_point.sh'
    firefox:
        image: selenium/node-firefox:3.141.59-radium
        links:
            - app:example.com
        volumes:
            - /dev/shm:/dev/shm
        environment:
            HUB_HOST: hub
            HUB_PORT: 4444
        deploy:
            replicas: 1
        entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME -enablePassThrough false" /opt/bin/entry_point.sh'
    # https://github.com/budtmo/docker-android/blob/master/README_APPIUM_AND_SELENIUM.md
    # https://github.com/budtmo/docker-android/blob/master/docker-compose.yml
    android:
        image: tienvx/docker-android
        privileged: true
        links:
            - app:example.com
        depends_on:
            - hub
        ports:
            - 6080:6080
        environment:
            - DEVICE=Samsung Galaxy S7 Edge
            - CONNECT_TO_GRID=true
            - APPIUM=true
            - SELENIUM_HOST=hub
            - MOBILE_WEB_TEST=true
            - AUTO_RECORD=false
    minio:
        image:   'minio/minio'
        ports:
            - 83:9000
        environment:
            # https://docs.minio.io/docs/minio-server-configuration-guide
            - MINIO_ACCESS_KEY=FAKE-aWs-s3-keY
            - MINIO_SECRET_KEY=FAKE-aWs-s3-sEcreT
            - MINIO_REGION=us-east-1
        entrypoint: sh
        command: -c 'mkdir -p /data/mbt && minio server --address :9000 /data'
    app:
        image: 'tienvx/mbt-example-app'
        ports:
            - 81:80
        healthcheck:
            test: ["CMD", "nc", "-z", "localhost", "80"]
            interval: 30s
            timeout: 10s
            retries: 5
        depends_on:
            - db
    api:
        image: "tienvx/mbt-example-api:${MBT_VERSION}"
        ports:
            - 80:80
        healthcheck:
            test: ["CMD", "nc", "-z", "localhost", "80"]
            interval: 30s
            timeout: 10s
            retries: 5
        depends_on:
            - queue
            - db
            - minio
        environment:
            APP_ENV: prod
            DATABASE_URL: 'mysql://user:pass@db:3306/db'
            MESSENGER_TRANSPORT_DSN: 'amqp://guest:guest@queue:5672/%2f/messages'
            USER_PASSWORD: '$$2y$$13$$gWuD7B7irvHWJo7kMx9w8eJpLEuSZiR5iMgK1p2foCeYPsjsAk0k.' # user
            ADMIN_PASSWORD: '$$2y$$13$$3rT10fXyh9o12mVSaPnbmu92HX3anslUtXabjXu6zdYojpopeFVba' # admin
            AWS_S3_VERSION: 'latest'
            AWS_S3_REGION: 'us-east-1'
            AWS_S3_ENDPOINT: 'http://minio:9000'
            AWS_S3_KEY: 'FAKE-aWs-s3-keY'
            AWS_S3_SECRET: 'FAKE-aWs-s3-sEcreT'
            AWS_S3_BUCKET: 'mbt'
        deploy:
            replicas: 1
    worker:
        image: "tienvx/mbt-example-worker:${MBT_VERSION}"
        links:
            - app:example.com
        depends_on:
            - queue
            - db
            - minio
        environment:
            APP_ENV: prod
            DATABASE_URL: 'mysql://user:pass@db:3306/db'
            MESSENGER_TRANSPORT_DSN: 'amqp://guest:guest@queue:5672/%2f/messages'
            SLACK_TOKEN: 'xxxx-xxxxxxxxxxx-xxxxxxxxx-xxxxxxxxxx-xxxxxx'
            SLACK_FROM: 'My name'
            SLACK_TO: '#my-channel'
            SLACK_MESSAGE: 'A Bug Was Found!'
            FROM_EMAIL: 'mbt@example.com'
            TO_EMAIL: 'error@example.com'
            EMAIL_SUBJECT: 'A Bug Was Found!'
            AWS_S3_VERSION: 'latest'
            AWS_S3_REGION: 'us-east-1'
            AWS_S3_ENDPOINT: 'http://minio:9000'
            AWS_S3_KEY: 'FAKE-aWs-s3-keY'
            AWS_S3_SECRET: 'FAKE-aWs-s3-sEcreT'
            AWS_S3_BUCKET: 'mbt'
            MAILER_DSN: 'smtp://localhost:25?encryption=ssl&auth_mode=login&username=&password='
        deploy:
            replicas: 4
    admin:
        image: "tienvx/mbt-admin:${MBT_VERSION}"
        ports:
            - 82:80
        depends_on:
            - api
        environment:
            REACT_APP_API_URL: 'http://localhost/api'
            REACT_APP_MBT_API_URL: 'http://localhost/mbt-api'
