version: '2'
services:
    mysql:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: db
    web:
        build: build/web
        ports:
            - 81:80
        links:
            - mysql
        depends_on:
            - mysql
    app:
        build: build/app
        ports:
            - 80:80
        volumes:
            - '.:/app'
        links:
            - web:example.com
