version: '3'
services:
    db:
        image: mariadb:10
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: db
    app:
        build: build/app
        ports:
            - 81:80
        links:
            - db
        depends_on:
            - db
    api:
        build: build/api
        ports:
            - 80:80
        volumes:
            - '.:/api'
        links:
            - db
        depends_on:
            - db
        environment:
            PHP_IDE_CONFIG: "serverName=mbt-api"
    worker:
        build: build/worker
        volumes:
            - '.:/worker'
        links:
            - queue
            - db
        depends_on:
            - queue
            - db
        environment:
            PHP_IDE_CONFIG: "serverName=mbt-worker"
    selenium-hub:
        image: selenium/hub
        ports:
            - 4444:4444
    selenium-node:
        image: selenium/node-chrome
        links:
            - selenium-hub:hub
            - app:example.com
        environment:
            HUB_HOST: hub
        volumes:
            - /dev/shm:/dev/shm
    queue:
        image: rabbitmq:3.7-management
        ports:
            - 15672:15672

networks:
    default:
        driver: bridge
        ipam:
            config:
                - subnet: 10.0.0.0/16
