version: '3'
services:
    db:
        image: jbergstroem/mariadb-alpine
        env_file:
            - docker/.env-db
    minio:
        image:   'minio/minio'
        env_file:
            - docker/.env-minio
        entrypoint: sh
        command: -c 'mkdir -p /data/mbt && minio server --address :9000 /data'
        ports:
            - 83:9000
    api-nginx:
        image: "tienvx/mbt-examples-api-nginx:v1.16.0"
        depends_on:
            - api
        ports:
            - 82:80
    api:
        image: "tienvx/mbt-examples-api:v1.16.0"
        depends_on:
            - db
            - minio
        env_file:
            - docker/.env
    worker:
        image: "tienvx/mbt-examples-worker:v1.16.0"
        depends_on:
            - db
            - minio
        env_file:
            - docker/.env
        command: ["wait-for", "db:3306", "--timeout=99", "--", "php", "/usr/local/src/app/bin/console", "messenger:consume", "async"]
    admin:
        image: "tienvx/mbt-admin:v1.16.0"
        depends_on:
            - api
        environment:
            API_URL: 'http://localhost:82'
        ports:
            - 80:80
