version: '3'
services:
    db:
        image: mariadb:10
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: db
    queue:
        image: rabbitmq:3.7-management
        ports:
            - 15672:15672
    app:
        build:
            context: ./docker/build/app
            dockerfile: Dockerfile
        ports:
            - 81:80
        volumes:
            - './docker/run/app/entrypoint.sh:/usr/local/bin/entrypoint.sh'
        links:
            - db
        depends_on:
            - db
        command: ["bash", "/usr/local/bin/entrypoint.sh"]
    api:
        image: 'tienvx/mbt-api'
        ports:
            - 80:80
        volumes:
            - './docker/run/api/entrypoint.sh:/usr/local/bin/entrypoint.sh'
            - './packages/dev/models:/usr/local/src/app/packages/dev/models'
            - './packages/messenger.yaml:/usr/local/src/app/packages/messenger.yaml'
            - './packages/doctrine.yaml:/usr/local/src/app/packages/doctrine.yaml'
            - './packages/tienvx_mbt.yaml:/usr/local/src/app/packages/tienvx_mbt.yaml'
            - './.env:/usr/local/src/app/.env'
            - './src/Subject:/usr/local/src/app/src/Subject'
            - './config/jwt:/usr/local/src/app/config/jwt'
            - './packages/api_platform.yaml:/usr/local/src/app/packages/api_platform.yaml'
            - './packages/lexik_jwt_authentication.yaml:/usr/local/src/app/packages/lexik_jwt_authentication.yaml'
            - './packages/nelmio_cors.yaml:/usr/local/src/app/packages/nelmio_cors.yaml'
            - './packages/security.yaml:/usr/local/src/app/packages/security.yaml'
            - './packages/routes/tienvx_mbt_api.yaml:/usr/local/src/app/packages/routes/tienvx_mbt_api.yaml'
        links:
            - db
        depends_on:
            - db
        command: ["sh", "/usr/local/bin/entrypoint.sh"]
    worker:
        image: 'tienvx/mbt-e2e-worker'
        volumes:
            - './docker/run/worker/entrypoint.sh:/usr/local/bin/entrypoint.sh'
            - './packages/dev/models:/usr/local/src/app/packages/dev/models'
            - './packages/messenger.yaml:/usr/local/src/app/packages/messenger.yaml'
            - './packages/doctrine.yaml:/usr/local/src/app/packages/doctrine.yaml'
            - './packages/tienvx_mbt.yaml:/usr/local/src/app/packages/tienvx_mbt.yaml'
            - './.env:/usr/local/src/app/.env'
            - './src/Subject:/usr/local/src/app/src/Subject'
        links:
            - queue
            - db
            - app:example.com
        depends_on:
            - queue
            - db
        command: ["sh", "/usr/local/bin/entrypoint.sh"]
